Xamarin Studio/material-icons-generator-plugin/obj/*
Xamarin Studio/material-icons-generator-plugin/bin/*
Xamarin Studio/material-icons-generator-plugin/material-icons-generator-plugin.userprefs
___FILES/*
Xamarin Studio/material-icons-generator-plugin/packages/*